.modalBox {
  padding: 2rem;
}

.title {
  text-align:center;
  font-size: 2rem;
  font-weight:600;
  text-transform:capitalize;
  font-family: "Montserrat", sans-serif;
  color: #24b9cc;
  margin-top: 0;
}

@media (min-width: 768px) {
  .title {
      font-size: 48px;
  }
}

.btnHero {
  background-color: #24b9cc;
  border: 2px solid #24b9cc;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 10%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  z-index: 100;
}



