.ContBenefits {
  padding: 0 2rem 1rem;
}
.AboutUsCont {
  background-color: #24b9cc ;
  border-radius: 10px;
  max-width: 100% !important;
}
.title {
  text-align:center;
  font-size: 2rem;
  font-weight:600;
  text-transform:capitalize;
  font-family: "Montserrat", sans-serif;
  color: #24b9cc;
}

@media (min-width: 768px) {
  .title {
      font-size: 48px;
  }
}

.benefitsGeneralCont {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
  flex-direction: column-reverse !important;
    }
}

.textContainer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media only screen and (max-width: 600px) {
    padding: 0;
    text-align: center;
      }
}

.description {
  font-size: 1.2rem;
  color: white;
  @media only screen and (max-width: 600px) {
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
      }
}

.imageContainer{
  padding: 2rem;
  align-content: center;
}
.image {
  width: 100%;  // Esto asegura que la imagen ocupe el 100% de su contenedor
  border-radius: 10px;
}
