.FooterCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  box-shadow: 0 -2px rgba(0, 0, 0, 0.08);
  margin-top: 2rem;
}
  
.logo {
  width: 263px;
  height: 130px;
  cursor: pointer;
  @media only screen and (max-width: 600px) {
    width: 200px;
    height: 100px;
  }
}

.Pages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.ButtonPages {
  color: #24b9cc;
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 10px;
}

.ButtonPages:hover {
  color: #24b9cc;
}

.hrStyle {
  width: 95%;
}
.textFoot {	
  text-align: center;
  padding: 0 0.5rem;
}
.textFoot p {
  font-size:  0.75rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: #24b9cc;
  text-align: center;
  text-transform: capitalize;
}
  
@media screen and (min-width: 600px) {
  .FooterCont{
      display: flex;
      flex-direction: column;
      align-items:  center;
  }
  
 .Pages {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0.5rem;
  }
  .ButtonPages {
      margin: 5px;
      color: #24b9cc;
      font-size: 1.2rem;
  }

  .textFoot {	
      padding: 0.5rem;
      text-align: center;
    }
    .textFoot p {
      font-size:  1rem;
    } 
}